<div class="container">
  <h2>Contenido de prueba</h2>

Otra prueba que se realiza
</div>


{% style %}

	.container {
		padding: 20px;
		max-width: 1200px;
		background-color: #f0f0f0;
		line-height: 1.6;
		margin: 20px auto;
		border: 1px solid silver;
		border-radius: 5px;
	}
{% endstyle %}

{% for product in collection.products %}
	{{ product.price }}
	{{ product.title }}
{% endfor %}

{% for i in (1..5) %}
	{{ i }}
{% endfor %}