<link rel="stylesheet" href="{{ 'products.css' | asset_url }}" media="print" onload="this.media='all'">
<div class="container">
    <h2>Texto dentro de un contenedor</h2>

    <div class="container__item">
        Algún tipo de contenido
    </div>
</div>

<hr>

<div class="container">
    This product belongs in the following collections:

    {% for collection in product.collections %}
        {{ collection.title }}
    {% endfor %}

</div>

<hr>

<h3>Algún otro contenido de prueba</h3>