<link rel="stylesheet" href="{{ 'products.css' | asset_url }}" media="print" onload="this.media='all'">
<div class="container">
    <h2>Texto dentro de un contenedor</h2>

    <div class="container__item">
        Algún tipo de contenido
    </div>
</div>

{% for item in product.media %}
    Algún valor
    {{ item.id }}
{% endfor %}

{% for variant in product.variants %}
    {{ variant.price }}
{% endfor %}

{% for item in collection.product %}
    {{ item.price }}
{% endfor %}

<hr>

<h3>Algún otro contenido de prueba</h3>