.container {
    padding: 20px;
    background-color: silver;
}

.container__item {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid blue;
}

h2 {
    border: 0;
    border-bottom: 1px solid silver;
    margin: 20px auto;
}